.input-line {
    display: grid;
    /* margin: 5px; */
    /* padding: 5px; */
    /* border: .5px solid #aaa; */
    /* border-radius: 5px; */
    /* box-shadow: 2px 2px 10px #ddd; */

    /* width: fit-content; */

    /* padding: 10px 15px; */
    margin-right: 1px;
    border-bottom: 1px solid #ddd;
}

.input-form {
    display: grid;
    align-items: center;
    grid-template-columns: 200px 50px repeat(3, 140px) 35px;

    padding: 5px 15px;
    margin-right: 1px;
}

.input-field {
    margin: 10px;
    border: white;
    border-bottom: .5px solid #aaa;
    height: 20px;

    font-size: 15px;
}

.input-field:focus {
    outline: none;
    box-shadow: 0 0 3pt 1pt #ccc;
}

#units, #price, #qty {
    text-align: center;
}

#item {
    margin: 0px;
    margin-right: 10px;
}

.submit-button:focus {
    outline-color: rgb(29, 67, 124);
}

.submit-button {
    margin: 5px;
    /* margin-left: 40px; */
    background-color: #444;
    height: 25px;
    width: 25px;
    border: .5px solid #fff;
    border-radius: 5px;
    padding: 0;
    padding-bottom: 1px;

    font-size: 21px;
    color: white;

    /* justify-self: end; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
