.list-container {
    margin: 10px;
}

.list-header {
    display: flex;

    border-bottom: .5px solid #aaa;
    width: fit-content;
}

.header-item {
    margin: 10px;
}

.item-section {
    margin: 10px 100px;
}

.qty-section {
    margin: 10px 25px;
}

.units-section, .price-section {
    margin: 10px 70px;
}